if layout_included
  yield

else
  - var layout_included = true
  doctype html
  html
    head
      script(src="/release/index.js")
      link(rel="stylesheet" href="/release/index.css")

    body
      yield
